<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.2
    </div>
    <strong>Copyright &copy; @DateTime.Today.Year <a href="https://github.com/carlosdaniiel07/personal-finances">Personal Finances</a>.</strong> All rights
    reserved. AdminLTE template by <a href="https://adminlte.io/">Almsaeed Studio</a>
</footer>